html, body{
  background-color: #000;
  color : #aaa;
  overflow: hidden;
}
*{
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}
#phone{
  position: absolute;
  top:0;
  left: 0;
  height: 100%;
  box-sizing: border-box;
  background-color: #555;
  padding: 0.5em;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}
#screen{
  position: relative;
  width: 100%;
  height: 40%;
  /*padding: 4px;*/
  display: flex;
  align-content: stretch;
  touch-action: pan-y;
  /*background-color: #76BED0;*/
}
#text{
  white-space: pre-wrap;
  font-family: monospace;
  position: absolute;
  bottom: 0;
  top: 60%;
  font-size: 1.5em;
  width: 98%;
  height: 40%;
  padding: 4px;
  vertical-align: middle;
  display: flex;
  align-content: stretch;
  background-color: #0006;
  z-index: 100;
  display:none;
}
#call{
  width: 100%;
  position: relative;
  max-height: 2em;
}
#buttons{
  position: relative;
  height: 53%;
  display: flex;
  align-content: stretch;
  justify-content: center;
  flex-direction: column;
  /*transition: all 0.4s;*/
}
.buttonrow{
  display: flex;
  align-content: space-around;
  justify-content: center;
  flex-direction: row;
  flex-grow: 1;
  border:1px solid #5550;
}

button{
  outline: none;
  background-color: #6666;
  border:none;
  color : #000;
  flex-grow: 1;
  /*font-size:350%;*/
  font-size:4em;
  /*font-size:5vw;*/
  font-family: monospace;
  opacity: 0.5;

  /*transition: transform 0.125s;*/
}
.current{
  background-color:#a42;
}
button:hover{
  /*background-color: #62626222;*/
  color : #000;
  cursor: pointer;
  /*filter: invert(100%);*/
  opacity: 1.0;

}
.masterrecord{
  color: #F55D3E;
}
.masterrecord:hover{
  background-color: #aaa;
}
.masterbutton:hover{
  background-color: #aaa;
}
.record{
  background-color: #F55D3E;
  color : #000;
}
.play{
  background-color: #F7CB15;
}
.loop{
  background-color: #88E2AC;
}
.effect{
  background-color: #8C61A3;
}
img{
  position: relative;
  height: 100%;
}
@media screen and (orientation:portrait){
  #phone{
    height: 100%;
    width: 100%;
  }  
}
@media screen and (orientation:landscape){
  #phone{
    height: 100%;
    width: 60vh;
    left:50%;
    margin-left:-30vh;
  }  
}
canvas{
  position: relative;
  width : 100%;
  height: 100%;
}
